.navigation-bar {
	padding: 25px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation-bar img {
	cursor: pointer;
	transition: 0.25s ease;
}

.navigation-bar img:hover {
	filter: brightness(2);
}

.navigation-icons img {
    margin: 0px 10px;
}

.navigation-icons img:last-of-type {
    margin-right: 0px;
}